Repository cavcrosby/homelab-cm: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, pytest

.pre-commit-config.yaml:

---
default_install_hook_types:
  - pre-commit
  - pre-push
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: trailing-whitespace

  - repo: https://github.com/ansible-community/ansible-lint.git
    rev: v24.9.0
    hooks:
      - id: ansible-lint
        stages:
          - pre-push
        additional_dependencies:
          - ansible-core ==2.17.0
          - jmespath ==1.0.1
          - pyspellchecker ==0.8.1

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
        args:
          - --strict
          - ./examples
          - ./extensions/molecule
          - ./meta
          - ./playbooks
          - ./roles

  - repo: https://github.com/DavidAnson/markdownlint-cli2.git
    rev: v0.13.0
    hooks:
      - id: markdownlint-cli2

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write
        language: node
        # matches docs/foo.md, but not README.md
        files: ^docs/
        types:
          - markdown
        additional_dependencies:
          - prettier@3.3.2

      - id: pytest
        name: pytest
        entry: pytest
        language: python
        files: ^tests/
        types:
          - python
        additional_dependencies:
          - ansible-lint ==24.9.0
          - pyspellchecker ==0.8.1
          - pytest ==8.3.4

      - id: gendict.py
        name: gendict.py
        entry: ./scripts/gendict.py
        language: python
        stages:
          - pre-push
        additional_dependencies:
          - ansible-lint ==24.9.0
          - pyspellchecker ==0.8.1

  - repo: https://github.com/gitleaks/gitleaks.git
    rev: v8.18.3
    hooks:
      - id: gitleaks

  - repo: https://github.com/pre-commit/mirrors-mypy.git
    rev: v1.13.0
    hooks:
      - id: mypy
        args:
          - --strict
        additional_dependencies:
          - ansible-lint ==24.9.0
          - boto3-stubs[s3] ==1.38.13
          - pytest ==8.3.4

      - id: mypy
        name: mypy (mitmproxy)
        language_version: ~/.local/src/homelab-cm/mitmproxy/bin/python
        files: ^mitmproxy/templates/[a-z_]+\.py\.j2
        types_or:
          - jinja
        args:
          - --strict
          - --scripts-are-modules
        additional_dependencies:
          - mitmproxy ==11.0.2
          - requests ==2.32.3
          - types-requests ==2.32.0.20250328

  - repo: https://github.com/astral-sh/ruff-pre-commit.git
    rev: v0.8.0
    hooks:
      - id: ruff
        args:
          - ./rules

      - id: ruff-format
        args:
          - ./rules

      - id: ruff
        name: ruff (mitmproxy)
        language_version: ~/.local/src/homelab-cm/mitmproxy/bin/python
        files: ^mitmproxy/templates/[a-z_]+\.py\.j2
        types_or:
          - jinja

      - id: ruff-format
        name: ruff-format (mitmproxy)
        language_version: ~/.local/src/homelab-cm/mitmproxy/bin/python
        files: ^mitmproxy/templates/[a-z_]+\.py\.j2
        types_or:
          - jinja

  - repo: https://github.com/tofuutils/pre-commit-opentofu.git
    rev: v2.2.0
    hooks:
      - id: tofu_fmt
      - id: tofu_validate

  - repo: https://github.com/tombi-toml/tombi-pre-commit.git
    rev: v0.3.55
    hooks:
      - id: tombi-lint
      - id: tombi-format

Fix pre-commit installing latest ansible-core pkg
  .pre-commit-config.yaml
Due: none

Remove type ignore comment for SpellChecker import
  .pre-commit-config.yaml
  rules/task_values.py
  scripts/gendict.py
Due: none

Fix tracking the OpenTofu deps as Terraform deps
  public-dns/main.tofu
  renovate.json
Due: none

Refactor the SHELL_VARIABLE_REGEX Ruby variable
  Vagrantfile
Due: none

Define AnsibleUnicodeItems alias if type checking
  rules/task_values.py
Due: none

Group the dependencies' updates done by Renovate
  docs/code.md
  k8s-nodes.pkr.hcl
  renovate.json
  scripts/chk-vagrant-pkg
Due: prettier

Fix Renovate not updating additional_dependencies
  .pre-commit-config.yaml
Due: none

Separate versions of mypy & ruff pre-commit hooks
  .pre-commit-config.yaml
Due: none

Update dependencies
  .pre-commit-config.yaml
  Makefile
  Vagrantfile
  ansible.cfg
  docs/dictionary.txt
  k8s-nodes.pkr.hcl
  meta/requirements.yml
  playbooks/k8s_controllers.yml
  playbooks/k8s_post_controllers.yml
  playbooks/nfs_clients.yml
  playbooks/templates/nm-settings-keyfile.j2
  playbooks/templates/poseidon/k8s-ddns-cronjobs.yml.j2
  playbooks/templates/poseidon/k8s-ingress-nginx.yml.j2
  playbooks/templates/poseidon/k8s-kiwix-serve.yml.j2
  playbooks/templates/poseidon/k8s-kiwix-zim-jobs.yml.j2
  production.j2
  public-dns/main.tofu
  requirements.txt
  rules/custom_no_changed_when.py
  rules/task_values.py
  tests/rules/playbooks/fqcn_in_filter_fail.yml
  tests/rules/test_task_values.py
  vagrant_ansible_vars.json
Due: pytest

Update dependencies
  .pre-commit-config.yaml
  Makefile
  Vagrantfile
  ansible.cfg
  docs/dictionary.txt
  k8s-nodes.pkr.hcl
  meta/requirements.yml
  playbooks/k8s_controllers.yml
  playbooks/k8s_post_controllers.yml
  playbooks/nfs_clients.yml
  playbooks/templates/nm-settings-keyfile.j2
  playbooks/templates/poseidon/k8s-ddns-cronjobs.yml.j2
  playbooks/templates/poseidon/k8s-ingress-nginx.yml.j2
  playbooks/templates/poseidon/k8s-kiwix-serve.yml.j2
  playbooks/templates/poseidon/k8s-kiwix-zim-jobs.yml.j2
  production.j2
  public-dns/main.tofu
  requirements.txt
  rules/task_values.py
  tests/rules/playbooks/fqcn_in_filter_fail.yml
  tests/rules/test_task_values.py
  vagrant_ansible_vars.json
Due: pytest

Implement the custom-var-naming[no-reserved] rule
  .ansible-lint
  rules/custom_no_changed_when.py
  rules/custom_var_naming.py
  tests/rules/playbooks/no_reserved_fail.yml
  tests/rules/roles/test/defaults/no_reserved_fail.yml
  tests/rules/test_custom_var_naming.py
Due: pytest

Refactor test_fqcn_in_filter_fail func docstring
  tests/rules/test_task_values.py
Due: pytest

Fix injection of vpn-homelab-cm network ipv4 var
  Vagrantfile
Due: none

Migrate pytest config under native TOML data model
  pyproject.toml
Due: none

Add indentation styles and size for OpenTofu files
  .editorconfig
Due: none

Use 'this' as the default resource name
  terraform-libvirt-domain/main.tofu
  terraform-libvirt-domain/outputs.tofu
  terraform-talos-machine-bootstrap/main.tofu
Due: none

Reseat allocated IP addrs to remove the addr gap
  Vagrantfile
  playbooks/vars/network_configs.yml
  vagrant_ansible_vars.json
Due: none

Refactor libvirt networks' names to match domains
  Vagrantfile
  localhost-k8s-cluster/main.tofu
  playbooks/templates/homelab-libvirt-network.xml.j2
  playbooks/vmms.yml
  prod-k8s-cluster/main.tofu
  staging-k8s-cluster/main.tofu
Due: none

Refactor libvirt networks' names to match domains
  Vagrantfile
  localhost-k8s-cluster/main.tofu
  playbooks/localhost.yml
  playbooks/templates/homelab-libvirt-network.xml.j2
  playbooks/vars/network_configs.yml
  playbooks/vmms.yml
  prod-k8s-cluster/main.tofu
  staging-k8s-cluster/main.tofu
Due: none

Migrate to the NGINX Gateway Fabric controller
  docs/dictionary.txt
  playbooks/group_vars/all
  playbooks/k8s_apps.yml
  playbooks/templates/haproxy.cfg.j2
  playbooks/templates/k8s/ingress-nginx-helm-values.yml.j2
  playbooks/templates/k8s/ingress-nginx.yml.j2
  playbooks/templates/k8s/kiwix-serve.yml.j2
  playbooks/templates/k8s/nginx-gateway-fabric-helm-values.yml.j2
  playbooks/templates/k8s/nginx-gateway.yml.j2
  playbooks/vars/k8s_apps_versions.yml
Due: none

Make K8s manifests' header comments consistent
  playbooks/templates/k8s/ddns-cronjobs.yml.j2
  playbooks/templates/k8s/kiwix-zim-jobs.yml.j2
Due: none
