Repository cavcrosby/homelab-cm: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, pytest

prettier:
  name: prettier
  entry: prettier --write
  language: node
  additional_dependencies:
  - prettier@3.3.2

pytest:
  name: pytest
  entry: pytest
  language: python
  additional_dependencies:
  - ansible-lint ==24.9.0
  - pytest ==8.3.4

Create a custom key-order rule
  .ansible-lint
  docs/code.md
  extensions/molecule/examples_resources/playbooks/converge.yml
  rules/custom_key_order.py
  tests/rules/playbooks/custom_key_order_play_fail.yml
  tests/rules/playbooks/custom_key_order_task_fail.yml
  tests/rules/test_custom_key_order.py
Due: prettier, pytest

Create the task-values[name-word-misspelled] rule
  .pre-commit-config.yaml
  docs/code.md
  docs/dictionary.txt
  examples/playbooks/single_quote_patterns.yml
  extensions/molecule/examples_resources/playbooks/converge.yml
  requirements-dev.txt
  rules/task_values.py
  scripts/gendict.py
  tests/rules/playbooks/name_word_misspelled_fail.yml
  tests/rules/test_task_values.py
Due: prettier, pytest

Set ansible-lint, & gendict.py stages to pre-push
  .pre-commit-config.yaml
Due: none

Remove convention for prefixing tags with a verb
  docs/code.md
Due: prettier

Change using systemd module to systemd_service
  playbooks/maintenance.yml
  playbooks/on_prem.yml
  roles/k8s_node/handlers/main.yml
  roles/k8s_node/tasks/main.yml
  roles/systemd_networkd/handlers/main.yml
Due: none

Change using systemd module to systemd_service
  playbooks/maintenance.yml
  playbooks/on_prem.yml
  roles/k8s_node/handlers/main.yml
  roles/k8s_node/tasks/main.yml
  roles/systemd_networkd/handlers/main.yml
  rules/task_values.py
  tests/rules/playbooks/append_systemd_unit_fail.yml
  tests/rules/test_task_values.py
Due: pytest

Change using service module to systemd_service
  playbooks/irc_clients.yml
  playbooks/k8s_controllers.yml
  playbooks/k8s_workers.yml
  roles/dnsmasq_dhcp/handlers/main.yml
  roles/dnsmasq_dhcp/tasks/main.yml
  roles/dnsmasq_dns/handlers/main.yml
  roles/dnsmasq_dns/tasks/main.yml
  roles/haproxy/handlers/main.yml
  roles/haproxy/tasks/main.yml
  roles/keepalived/handlers/main.yml
  roles/keepalived/tasks/main.yml
Due: none

Refactor systemd_networkd role's handler names
  roles/systemd_networkd/handlers/main.yml
  roles/systemd_networkd/tasks/main.yml
Due: none

Add ACPI for the k8s cluster nodes
  playbooks/templates/poseidon/prod-libvirt-k8s-controller.xml.j2
  playbooks/templates/poseidon/prod-libvirt-k8s-worker.xml.j2
  playbooks/templates/poseidon/staging-libvirt-k8s-controller.xml.j2
  playbooks/templates/poseidon/staging-libvirt-k8s-worker.xml.j2
Due: none

Streamline creation of hosts' authorized_keys file
  .gitignore
  Makefile
  k8s-nodes.pkr.hcl
  playbooks/files/authorized_keys
  playbooks/tasks/setup_irc_user.yml
  playbooks/vmms.yml
Due: none

Refactor task names
  playbooks/tasks/setup_irc_user.yml
  playbooks/vmms.yml
Due: none

Make all .gitignore files consistent with b54e1a7
  logs/.gitignore
  playbooks/files/.gitignore
  playbooks/packer/.gitignore
Due: none

Follow redirects when fetching containerd deb pkg
  Makefile
Due: none

Fix the ansible_managed variable terminology
  docs/code.md
Due: prettier

Give sign-kubelet-csrs the ansible_managed variable
  playbooks/k8s_post_controllers.yml
  playbooks/templates/sign-kubelet-csrs.j2
Due: none

Update ./playbooks/files/authorized_keys w/new keys
  k8s-nodes.pkr.hcl
  playbooks/files/authorized_keys
Due: none

Refactor task names
  playbooks/on_prem.yml
  roles/k8s_node/handlers/main.yml
  roles/k8s_node/tasks/main.yml
  roles/systemd_networkd/handlers/main.yml
  roles/systemd_networkd/tasks/main.yml
Due: none

Refactor task names
  playbooks/k8s_post_controllers.yml
Due: none

Streamline creation of hosts' authorized_keys file
  .gitignore
  Makefile
  k8s-nodes.pkr.hcl
  playbooks/files/authorized_keys
  playbooks/tasks/setup_irc_user.yml
  playbooks/vmms.yml
  preseed.cfg.j2
Due: none

Rename the functions' variable _id to id_
  rules/custom_key_order.py
  rules/filenames.py
  rules/task_module_args.py
  rules/task_values.py
Due: none

Integrate nfs_servers into the infrastructure
  Makefile
  Vagrantfile
  docs/dictionary.txt
  docs/infrastructure.md
  playbooks/all.yml
  playbooks/nfs_clients.yml
  playbooks/nfs_servers.yml
  playbooks/packer_customizations.yml
  playbooks/site.yml
  playbooks/templates/homelab-libvirt-network.xml.j2
  playbooks/templates/nfs-homelab.exports.j2
  playbooks/templates/nfs.conf.j2
  playbooks/vars/network_configs.yml
  preseed.cfg.j2
  production.j2
  vagrant_ansible_vars.json
Due: prettier

Remove hardcoded hostnames from dnsmasq DHCP confs
  playbooks/templates/prod-dnsmasq-dhcp.conf.j2
  playbooks/templates/staging-dnsmasq-dhcp.conf.j2
Due: none

Use Jinja vars for kronk and gerald's homelab NICs
  playbooks/vars/network_configs.yml
  production.j2
Due: none

Path conditions:
  prettier: any of: ^docs/ and \.(md|markdown|mdown)$
  pytest: any of: ^tests/ and \.py$
